apiVersion: apps/v1
kind: Deployment
metadata:
   name: myapp-deployment
   labels:
     app: myapp
     type: front-end
spec:
  template:
    metadata:
       name: myapp-deployment
       labels:
         app: myapp
         type: front-end
    spec:
      containers:
      - name: nginx-controller
        image: nginx:1.7.1
  replicas: 3
  selector:
    matchLabels:
      type: fron-end

