apiVersion: v1
kind: Pod
metadata:
  name: webapp-pod
  labels:
    name: webapp-pod
spec:
  containers:
  - name: ubuntu
    image: ubuntu
    command: ["sleep", "3600"]
    securityContext:
      runAsUser: 1000
    capabilities:
        add: ["MAC_ADMIN"]   ## Note: Capability are only supported at the container leve and not at the POD level
        