- pipeline.id: main
  queue.type: persisted
  pipeline.workers: 8
  pipeline.batch.size: 1000
  path.config: "/usr/share/logstash/pipeline/00-input.conf"

- pipeline.id: elastic
  queue.type: persisted
  pipeline.workers: 6
  pipeline.batch.size: 1000
  path.config: "/usr/share/logstash/pipeline/99-output-es.conf"

- pipeline.id: file
  queue.type: persisted
  pipeline.workers: 4
  pipeline.batch.size: 1000
  path.config: "/usr/share/logstash/pipeline/99-output-file.conf"





   


