apiVersion: apps/v1
kind: Deployment
metadata:
  app: myapp
  type: front-end
spec:

  template:
    metadata:
      name: myapp-pod
      labels:
        app: myapp
        type: front-end
    spec:
      containers:
      - name: nginx-cobtainer
        image: nignx:1.7.1
        ports:
        - containerPort: 8080
  replicas: 3
  selector:
     matchLabels:
       app: front-end
