apiVersion: v1
kind: Service
metadata:
  name: myapp
spec:
  type: NodePort
  selector:
    app: myapp
    type: front-end
  ports:
   - targetPort: 80
     protocol: TCP
     port: 80
     nodePort: 30008
